body {
	text-align:left;
	margin:0 auto;
	font-family:"宋体",Arial,Helvetica,sans-serif;
	font-size:20px;
	line-height:18px;
	color:#4d4d4d;
    overflow-y: hidden;
    overflow-x: hidden;

}
 /*定义滚动条轨道*/
     #left::-webkit-scrollbar-track
    {
            background-color: #F5F5F5;
             -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
         }
     /*定义滚动条高宽及背景*/
     #left::-webkit-scrollbar
     {
             width: 8px;
             background-color: rgba(0, 0, 0, 0.34);
         }
    /*定义滚动条*/
    #left::-webkit-scrollbar-thumb     {
             background-color: #8b8b8b;
             -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0);
             border-radius: 10px;
         }
#all{
    width: 100%;
    margin: auto;
}
#top{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}
#logoAndList{
    width: 30%;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}
#topRight{
    float: right;
    width: 30%;
    margin-top: 16px;
    font-size: 20px;
}
#upload{
    margin-left: 15%;
}
#sharehap{
    margin-left: 10%;
}
#logintext{
    margin-left: 10%;
}
#hadlogintext{
    margin-left: 10%;
}
#below{
    float:top;
    width: 100%;
    height: 100%;
}
#left{
    width: 17.8%;
    height: 100%;
    background-color: #f5f5f5;
}
#right{
     margin-top: 60px;
     position:absolute;
     left:20%;
     top:0;
     right:0;
     bottom:0;
     overflow-y:auto; overflow-x:hidden;
     float: right
}
#leftTop{
    width:100%;
    height: 160px;
    margin-top:50px;
    font-size: 14px;
}
#leftCanent{
    width:100%;
    height: 280px;
    font-size: 14px;
}#leftBelow{
    width:100%;
    height: 110px;
    font-size: 14px;
}

.allThume{
    width: 910px;
    height: 300px;
    margin-left: 50px;
    margin-top: 20px;
 }
.mainTitle{
    width: 910px;
    height: 50px;
    padding-top: 10px;
    font-size: 15px;
}
.title{
    font-size: 16px;
}
.thume{
    width: 210px;
    height: 255px;
    float: left;
    margin-left: 5px;
}
.thumeTop{
    width: 210px;
    height: 120px;
}
.thumeCanent{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 13px;
}
.thumeBelow{
    padding-top: 5px;
    width: 100%;
    height: 55px;
    font-size: 13px;
}