<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>谋思特视频</title>
    <script type="application/javascript" src="../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="application/javascript" src="../static/js/index.js" th:src="@{/static/js/index.js}"></script>
    <script type="application/javascript" src="../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="application/javascript" src="../static/js/clipboard.min.js" th:src="@{/static/js/clipboard.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/tubiao.ico" th:src="@{/static/image/tubiao.ico}" media="screen" />
    <style type="text/css">
        a{ color:#000; text-decoration:none;}
        a:link{ color:#000; text-decoration:none;}
        a:hover{color:#C03;text-decoration:none;}
        a:active{ color:#000; text-decoration:none;}
        a:visited{
            color: #000;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="all">
<nav class="navbar navbar-default navbar-fixed-top">
    <div id="top">
        <div id="logoAndList">
            <button class="btn btn-default" style="border: 0px; margin-left: 25px;">
                <span class="glyphicon glyphicon-list"></span>
            </button>
            <a href="#"><img id="shouye" th:src="@{/static/image/shouye.jpg}" title="MostTV 首页"/></a>
        </div>
        <div id="searchdiv"  class="input-group input-group-sm" style="width: 30%; float: left;margin-top: 12px;">
            <input id="searchinp" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                        <button id="searchbtn" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"/>
                        </button>
                    </span>
        </div>
        <div id="topRight" style="float: left;font-size: 20px">
            <a href="#"><span id="upload" class="glyphicon glyphicon-cloud-upload"data-toggle="tooltip" data-placement="left" title="上传"/></span></a>
            <a href="#"><span id="sharehap" class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="right" title="分享"/></span></a>

            <a href="userinformation" th:if="${session.sessionUser}" id="hadlogintext">
                 欢迎你：<span th:text="${session.sessionUser.username}"></span>
                <input type="hidden" id="userid" th:value="${session.sessionUser.id}">
                <input type="hidden" id="username" th:value="${session.sessionUser.username}">
            </a>
            <a th:unless="${session.sessionUser}">
                    <a href="login"><span id="logintext">登录</span></a>
            </a>
        </div>
    </div>
</nav>

<div id="below" >
    <div id="left">
        <div id="leftTop">
            <ul class="nav nav-pills nav-stacked"  >
                <li role="presentation" style="margin-top: 20px">
                    <a href="index" id="index" style="color: red">
                        <span class="glyphicon glyphicon-home" style="margin-left: 60px;"/> 首页
                    </a>
                </li>
                <li role="presentation">

                    <a href="mostsee" id="mostSee" >
                        <span  class="glyphicon glyphicon-fire" style="margin-left: 60px;"/> 观看最多
                    </a>

                </li>
                <li role="presentation">
                    <a href="rankingList" id="rankingList">
                        <span class="glyphicon glyphicon-sort" style="margin-left: 60px"/> 排行榜
                    </a>
                </li>
                <hr style="height:1px;border:none;border-top:1px solid  #dcdcdc;" />
            </ul>
        </div>
        <div id="leftCanent">
            <span style="margin-left: 30px;margin-top: 10px" >MostvTV精选</span>
            <ul class="nav nav-pills nav-stacked allLabel">
                <li role="presentation" id="tvshowLabel">
                    <a href="tvshow">
                        <span class="glyphicon glyphicon-hd-video" style="margin-left: 60px"/> 美剧
                    </a>
                </li>
                <li role="presentation" id="filmshowLabel">
                    <a href="filmshow">
                        <span class="glyphicon glyphicon-film" style="margin-left: 60px"/> 电影
                    </a>
                </li>
                <li role="presentation" id="musicshowLabel">
                    <a href="musicshow">
                        <span class="glyphicon glyphicon-book" style="margin-left: 60px"/> 学习
                    </a>
                </li>
                <li role="presentation" id="newsshowLabel">
                    <a href="hotnews">
                        <span class="glyphicon glyphicon-list-alt" style="margin-left: 60px"/> 新闻
                    </a>
                </li>
                <li role="presentation" id="sportshowLabel">
                    <a href="sportshow">
                        <span class="glyphicon glyphicon-globe" style="margin-left: 60px"/> 体育
                    </a>
                </li>
                <li role="presentation" id="gameshowLabel">
                    <a href="gameshow">
                        <span class="glyphicon glyphicon-blackboard" style="margin-left: 60px"/> 游戏
                    </a>
                </li>
                <hr style="height:1px;border:none;border-top:1px solid  #dcdcdc;" />
            </ul>
        </div>
        <div id="leftBelow">
            <span style="margin-left: 30px" >帮助反馈</span>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="#">
                        <span class="glyphicon glyphicon-comment" style="margin-left: 60px;"/>
                        <button  id="sendadv" type="button" class="btn  btn-default" data-toggle="modal" data-target="#myModal" style="border: 0px;background-color:#f5f5f5">
                            发送反馈
                        </button>
                    </a>
                </li>
                <hr style="height:1px;border:none;border-top:1px solid  #dcdcdc;" />
            </ul>
            <div class="modal fade" id="myModal"  data-backdrop="static" tabindex="60" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">您的问题</h4>
                        </div>
                        <div class="modal-body">
                            <p>问题描述</p>
                            <textarea class="form-control" id="advtext"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                            <button class="btn btn-primary" id="submit" type="button">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        <div id="leftAbout" style="margin: 0 5px 0 5px;height: 300px">
            <span style="margin-left: 30px;font-size:18px">MostvTV声明</span><br><br>
            <span style="margin-top: 10px">
                        &nbsp; &nbsp;本网站的内容、图文来自于网络,我们尊重他人的合法权益,如有内容侵犯您的合法权益,请及时与我们联系,我们将第一时间安排核实及删除!</li>
                    </span>
            <br/>
            <span>法务联系:657281999@qq.com</span><br/>
            <span style="margin-left: 20%">版权所有MOSTTV</span><br/>
            <span style="margin-left: 20%">ICP证陕17003214</span>
        </div>
    </div>
    <div id="right">
        <div id="r1">
            <div class="allThume">
                <div class="mainTitle">
                    <span class="title" style="font-weight: bold">观看最多</span>
                </div>
                <div id="indexmostsee">

                </div>
                <hr style="height:1px;border:none;border-top:1px solid  #dcdcdc;margin-top:260px" />
            </div>
            <div class="allThume">
                <div class="mainTitle">
                    <span class="title" style="font-weight: bold">热门美剧</span>
                </div>
                <div id="indexustvv">

                </div>

                <hr style="height:1px;border:none;border-top:1px solid  #dcdcdc;margin-top:260px" />
            </div>
        </div>
    </div>
</div>
</div>

</div>
</body>
</html>